
[Desktop Entry]
Encoding=UTF-8
Name=Red Hat Subscription Validity Applet
Name[as]=Red Hat স্বাক্ষৰণ বৈধতা এপ্লেট
Name[bn_IN]=Red Hat Subscription Validity Applet
Name[de_DE]=Red Hat Subskriptions-Gültigkeits-Applet
Name[es_ES]=Miniaplicación de validez de suscripción de Red Hat
Name[fr]=Applet de validité des abonnements Red Hat
Name[gu]=Red Hat ઉમેદવારી માન્યતા એપલેટ
Name[hi]=Red Hat सदस्यता वैधता एप्लेट
Name[it]=Red Hat Subscription Validity Applet
Name[ja]=Red Hat サブスクリプション有効性アプレット
Name[kn]=Red Hat ಚಂದಾದಾರಿಕೆ ಸಿಂಧುತ್ವ ಆಪ್ಲೆಟ್
Name[ko]=Red Hat 서브스크립션 유효 애플릿 
Name[ml]=Red Hat സബ്സ്ക്രിപ്ഷന്‍ വാലിഡിറ്റി ആപ്ലെറ്റ്
Name[mr]=Red Hat सबस्क्रिप्शन वैधता ॲप्लेट
Name[or]=Red Hat ସଦସ୍ୟତା ବୈଧତା ଆପଲେଟ
Name[pa]=Red Hat ਮੈਂਬਰੀ ਯੋਗਤਾ ਐਪਲਿਟ
Name[pt_BR]=Applet de Validade de Subscrição Red Hat
Name[ru]=Апплет проверки подписок Red Hat
Name[ta_IN]=Red Hat சந்தாபடுத்தல் சரிபார்த்தல் ஆப்லெட்
Name[te]=Red Hat సబ్‌స్క్రిప్షన్ చెల్లుబాటు ఆప్లెట్
Name[zh_CN]=红帽订阅有效性程序
Name[zh_TW]=Red Hat 訂閱認證驗證程式
GenericName=Subscription Validity Applet
GenericName[as]=স্বাক্ষৰণ বৈধতা এপ্লেট
GenericName[bn_IN]=Subscription Validity Applet
GenericName[de_DE]=Subskriptions-Gültigkeits-Applet
GenericName[es_ES]=Miniaplicación de validez de suscripción
GenericName[fr]=Applet de validité d'abonnements
GenericName[gu]=ઉમેદવારી માન્યતા એપલેટ
GenericName[hi]=सदस्यता वैधता एप्लेट
GenericName[it]=Applet di convalida della sottoscrizione
GenericName[ja]=サブスクリプション有効性アプレット
GenericName[kn]=ಚಂದಾದಾರಿಕೆ ಸಿಂಧುತ್ವ ಆಪ್ಲೆಟ್
GenericName[ko]=서브스크립션 유효 애플릿 
GenericName[ml]=സബ്സ്ക്രിപ്ഷന്‍ വാലിഡിറ്റി ആപ്ലെറ്റ്
GenericName[mr]=सबस्क्रिप्शन वैधता ॲप्लेट
GenericName[or]=Red Hat ସଦସ୍ୟତା ବୈଧତା ଆପଲେଟ
GenericName[pa]=ਮੈਂਬਰੀ ਯੋਗਤਾ ਐਪਲਿਟ
GenericName[pt_BR]=Applet de Validade de Subscrição
GenericName[ru]=Апплет проверки подписок
GenericName[ta_IN]=சந்தாபடுத்தல் சரிபார்த்தல் ஆப்லெட்
GenericName[te]=సబ్‌స్క్రిప్షన్ చెల్లుబాటు ఆప్లెట్
GenericName[zh_CN]=订阅有效性程序
GenericName[zh_TW]=訂閱認證驗證程式
Comment=Subscription Validity Applet
Comment[as]=স্বাক্ষৰণ বৈধতা এপ্লেট
Comment[bn_IN]=Subscription Validity Applet
Comment[de_DE]=Subskriptions-Gültigkeits-Applet
Comment[es_ES]=Miniaplicación de validez de suscripción
Comment[fr]=Applet de validité d'abonnements
Comment[gu]=ઉમેદવારી માન્યતા એપલેટ
Comment[hi]=सदस्यता वैधता एप्लेट
Comment[it]=Applet di convalida della sottoscrizione
Comment[ja]=サブスクリプション有効性アプレット
Comment[kn]=ಚಂದಾದಾರಿಕೆ ಸಿಂಧುತ್ವ ಆಪ್ಲೆಟ್
Comment[ko]=서브스크립션 유효 애플릿 
Comment[ml]=സബ്സ്ക്രിപ്ഷന്‍ വാലിഡിറ്റി ആപ്ലെറ്റ്
Comment[mr]=सबस्क्रिप्शन वैधता ॲप्लेट
Comment[or]=Red Hat ସଦସ୍ୟତା ବୈଧତା ଆପଲେଟ
Comment[pa]=ਮੈਂਬਰੀ ਯੋਗਤਾ ਐਪਲਿਟ
Comment[pt_BR]=Applet de Validade de Subscrição
Comment[ru]=Апплет проверки подписок
Comment[ta_IN]=சந்தாபடுத்தல் சரிபார்த்தல் ஆப்லெட்
Comment[te]=సబ్‌స్క్రిప్షన్ చెల్లుబాటు ఆప్లెట్
Comment[zh_CN]=订阅有效性程序
Comment[zh_TW]=訂閱認證驗證程式
Icon=subscription-manager
Exec=rhsm-icon
Terminal=false
Type=Application
Categories=
